################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TRADER/v17/.suo
/.vs/TRADER/v17/Browse.VC.db
/.vs/TRADER/v17/Browse.VC.db-shm
/.vs/TRADER/v17/fileList.bin
/.vs/TRADER/v17/Solution.VC.db
*.opendb
/.vs/TRADER/v17/Solution.VC.db-shm
/.vs/TRADER/v17/Solution.VC.db-wal
/libFLC/x64/Release/libFLC.tlog/CL.command.1.tlog
/libFLC/Release/CLASS_FLC.obj
/libFLC/x64/Release/libFLC.tlog/Cl.items.tlog
/libFLC/x64/Release/libFLC.tlog/libFLC.lastbuildstate
/libFLC/x64/Release/libFLC.tlog/Cl.items.tlog
/libFLC/x64/Release/libFLC.tlog/libFLC.lastbuildstate
/libFLC/x64/Release/libFLC.tlog/CL.command.1.tlog
/.vs/TRADER/FileContentIndex/read.lock
/libPSO/x64/Release/libPSO.Build.CppClean.log
/.vs/TRADER/FileContentIndex/d201a1b5-c7ab-40c2-915b-5f9e3d803ed8.vsidx
*.vsidx
/libGA/x64/Release/libGA.Build.CppClean.log
/libGA/x64/Release/libGA.tlog/CL.13736.write.1.tlog
/libGA/x64/Release/libGA.tlog/link.command.1.tlog
*.tlog
/libGA/x64/Release/libGA.tlog/link.read.1.tlog
/libGA/x64/Release/libGA.tlog/link.write.1.tlog
/libGA/x64/Release/libGA.tlog/CL.3412.write.1.tlog
/libGA/x64/Release/libGA.tlog/unsuccessfulbuild
/libFLC/x64/Release/libFLC.iobj
/.vs/TRADER/v17/Browse.VC.db-wal
*.iobj
/libGA/x64/Release/libGA.log
/libKON/x64/Release/libKON.Build.CppClean.log
/libKON/x64/Release/libKON.iobj
/libLVQ/x64/Release/libLVQ.tlog/link.command.1.tlog
/libLVQ/x64/Release/libLVQ.tlog/link.read.1.tlog
/libLVQ/x64/Release/libLVQ.tlog/unsuccessfulbuild
/libLVQ/x64/Release/libLVQ.Build.CppClean.log
/libLVQ/x64/Release/libLVQ.tlog/link.write.1.tlog
/libLVQ/x64/Release/libLVQ.log
*.exp
*.dll
/x64/Release/libFLC.dll
*.lib
*.exe
/LIB_PSO_DIM/x64/Release/libPSO_DIM.tlog/link.read.1.tlog
/x64/Release/libMATRIX.lib
/x64/Release/libKON.dll
/TRADE_EA/x64/Release/TRADE_EA.Build.CppClean.log
/TRADE_EA/x64/Release/TRADE_EA.tlog/unsuccessfulbuild
/libPSO/x64/Release/libPSO.tlog/unsuccessfulbuild
/libPSO/x64/Release/libPSO.tlog/CL.2588.write.1.tlog
/TRADE_EA/x64/Release/TRADE_EA.log
/LIB_PSO_DIM/x64/Release/libPSO_DIM.tlog/unsuccessfulbuild
/TRADE_EA/x64/Release/TRADE_EA.tlog/link.command.1.tlog
/libPSO/x64/Release/libPSO.log
/libPSO/x64/Release/libPSO.tlog/link.command.1.tlog
/libPSO/Release/CLASS_PSO.obj
/libMATRIX/Release/MATRIX.obj
/libKON/Release/CLASS_KON.obj
/libPSO/Release/PSO_AUX.obj
/TRADE_EA/x64/Release/TRADE_EA.tlog/link.read.1.tlog
/TRADE_EA/Release/TRADE_EA.obj
/LIB_PSO_DIM/x64/Release/libPSO_DIM.tlog/link.command.1.tlog
/LIB_PSO_DIM/x64/Release/libPSO_DIM.tlog/link.write.1.tlog
/LIB_PSO_DIM/x64/Release/libPSO_DIM.Build.CppClean.log
/LIB_PSO_DIM/Release/CLASS_PSO_DIM.obj
/LIB_PSO_DIM/x64/Release/LIB_PSO_DIM.log
/TRADE_EA/x64/Release/TRADE_EA.tlog/link.write.1.tlog
/libPSO/x64/Release/libPSO.tlog/link.read.1.tlog
/libPSO/x64/Release/libPSO.tlog/link.write.1.tlog
/libLVQ/Release/CLASS_LVQ.obj
/libGA/Release/GA_AUX.obj
/libGA/Release/CLASS_GA.obj
/libGA/x64/Release/libGA.tlog/CL.3412.write.1.tlog
/libFLC/x64/Release/libFLC.iobj
/x64/Release/libFLC.dll
