################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TRADER/v17/.suo
/.vs/TRADER/v17/Browse.VC.db
/.vs/TRADER/v17/Browse.VC.db-shm
/.vs/TRADER/v17/fileList.bin
/.vs/TRADER/v17/Solution.VC.db
*.opendb
/.vs/TRADER/v17/Solution.VC.db-shm
/.vs/TRADER/v17/Solution.VC.db-wal
/libFLC/x64/Release/libFLC.tlog/CL.command.1.tlog
/libFLC/Release/CLASS_FLC.obj
/libFLC/x64/Release/libFLC.tlog/Cl.items.tlog
/libFLC/x64/Release/libFLC.tlog/libFLC.lastbuildstate
/libFLC/x64/Release/libFLC.tlog/Cl.items.tlog
/libFLC/x64/Release/libFLC.tlog/libFLC.lastbuildstate
/libFLC/x64/Release/libFLC.tlog/CL.command.1.tlog
/.vs/TRADER/FileContentIndex/read.lock
/libPSO/x64/Release/libPSO.Build.CppClean.log
/.vs/TRADER/FileContentIndex/d201a1b5-c7ab-40c2-915b-5f9e3d803ed8.vsidx
*.vsidx
/libGA/x64/Release/libGA.Build.CppClean.log
